# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Uni Aca\Level 4\Sem 1\IT 4004 - Advanced Database Systems\Project\Dariya\ABC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
